

body {
    width: 100%;
    height: 100vh;
    background-image: url("../img/bg-sea.jpg");
    background-repeat: none;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    


}

header a {
    text-decoration: none;
}